
# Python
__pycache__/

# Personal Documentation
FRONTEND_GUIDE.md
*.py[cod]
*$py.class
.venv/
env/
venv/

# Environment Variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Databricks
.databricks/

# AWS
.aws-sam/
