@import "tailwindcss";

@theme {
  --color-brand-green: #10B981;
  --color-brand-red: #EF4444;
}

@layer utilities {
  .btn-primary {
    @apply px-6 py-4 bg-blue-600 text-white font-bold rounded-xl shadow-lg active:scale-95 transition-transform;
  }

  .btn-success {
    @apply px-6 py-8 bg-brand-green text-white text-2xl font-bold rounded-2xl shadow-xl active:scale-95 transition-transform w-full;
  }

  .btn-danger {
    @apply px-6 py-8 bg-brand-red text-white text-2xl font-bold rounded-2xl shadow-xl active:scale-95 transition-transform w-full;
  }
}